* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
#header {
    background-color: rgb(242, 242, 54);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer {
    background-color: rgb(242, 242, 54);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#hero {
    height: 30%;
    width: 40%;
    background-color: bisque;
    order: 1;
}
#main {
    height: 70%;
    width: 60%;
    background-color: blueviolet;
    order: 3;
}
#sidebar {
    height: 70%;
    width: 40%;
    background-color: blue;
    order: 2;

}
#extracontent{
    background-color: aqua;
    height: 30%;
    width: 60%;
    order: 4;

}
.relate {
    height: 20vh;
    display: flex;
    
}

#imagerelate {
    background-color: rgb(16, 64, 106);
    width: 60%;

}
#relatedposts {
    background-color: rgb(51, 196, 99);
    width: 40%;
}